.container{
    background-color: navy;
    color: white;
    text-align: center;
}
.container-2{
    text-align: center;
}
.container-3{
    color:navy;
    text-align: center;
}
.container-4{
    color: navy;
}
.container-9{
    text-align: center;
}
.container-5{
    color: red;
}
.container-6{
    color:red;
}
.container-7{
    color: red;
}
.container-8{
    color: brown;
}
.container-10{
    color: navy;

}
.bg-container{
    color: black;
}
.bg-container-11{
    color: red;
    text-align:center;
}
.bg-container-12{
    text-align: center;
}
.bg-container-13{
    color: navy;
    text-align:left;
}
.bg-container-15{
    text-align: center;
}
.bg-container-14{
    color: red;
}
.bg-container-16{
    color: navy;
}
.bg-container-17{
    color: red;
}
.bg-container-18{
    text-align: center;
}
.bg-container-19{
    color: navy;
}
.bg-container-20{
    color:red;
}
.bg-container-21{
    text-align: center;
}
.bg-container-22{
    color: navy;
}